on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ./
    - name: Run create dataset script
      run: python .github/actions/create_dataset/create.py
    - name: Push file to github
      run: |
        git config --global user.name 'Automated Process'
        git config --global user.email 'avi@avi-net.co.za'
        git add .
        git commit -m "Update dataset"
        git push